[2011-03-03 23:31] bruceravel opened #1 "XANES data are processed incorrectly"
Data object should note that datatype is xanes and not compute fbkg the bkg array does not exist

[2011-03-03 23:32] bruceravel opened #2 "title for stddev and variance plots"
cannot specify title for stddev and variance plots in Athena

[2011-03-03 23:41] bruceravel opened #3 "Happiness calculation"
Shelly Kelly said:
_I'm using demeter to fit cu foil and got a happiness factor of 100/100. While my model is of course perfect, (hum)... I think it should be harder to get 100/100. For example, one of my debye temps is 200 +/- 100.  Now that can not be true happiness.'_

[2011-03-04 22:02] bruceravel opened #4 "Missing features in Athena's LCF dialog"
- Plot in R after doing a fit in k
- Marked groups fit using the current model, organize results into a spreadsheet

[2011-03-04 22:07] bruceravel opened #5 "Data/reference relationship between more than 2 groups"
tie multiple groups together into the data/referfence relationship.  this would be helpful for multichannelion chamber data.  also a situation where data are aligned then merged -- the merges and teh original standard could be put into a more-than-2 relationship

[2012-08-22 16:34] newville opened #6 "windows bat files should be explicit about using strawberry perl"
for windows systems with Perl already installed, the d*.bat files can fail because they use

[code]

Perhaps explicitly using

[code]

would be better

[2012-08-29 12:46] makemelegal opened #7 "Am not a valid absorber"
Hi, i have just tried to open some data that i have collected and am now trying to open the Athena file in Artemis. The file opens but will not let me do any fits as it does not recognise Americium as a valid absorber. I assume this is a small error?

Thanks,
Dan

[2012-09-25 08:34] makemelegal opened #8 "History remains loaded on project close"
Hi all,
I think i have found a bug.
When switching between projects, Artemis seems to keep the history loaded. If you close a project (File>Close) and then load a new Data file and model the new data set, the newly started project retains the previous projects History.
The way round it appears to be to exit the software between projects. This is not a massive issue and easy to work around (and if

[2012-09-25 13:19] #7 closed, assigned to nobody

[2012-09-25 13:20] #6 closed, assigned to nobody

[2012-09-25 17:29] #8 closed, assigned to bruceravel

[2012-11-30 22:23] newville opened #9 "Windows bat files should explicitly set paths"
Hi Bruce,

Sorry that I'm not grokking the perl well enough to issue a pull request, but I think you want to change win/inno/modify_path.pl to end up with

  @rem = '--_-Perl-_--
  @echo off
  SET PATH=C:strawberry\perl\bin;C:\strawberry\c\bin;C:\strawberry\perl\site\bin;%PATH%
  C:\strawberry\perl\bin\perl.exe -x -S "%0" %1 %2 %3 %4 %5 %6 %7 %8 %9 > "%APPDATA%\demeter\dartemis.log" 2>&1
  goto en

[2013-02-16 17:51] lgordon opened #10 "Cannot enlarge GDS window"
When fitting multiple datasets I often have quite a few variables in the fit and it would be nice to be able to expand the GDS window like I can with the main Artemis window, however, it seems to be stuck.

I'm on Win 7 Pro with Demeter 0.9.14

[2013-02-16 18:29] lgordon opened #11 "Requires two "tabs" to switch between input fields in the fit parameters"
In the section where fit parameters are input for a dataset it requires pressing "tab" twice to cycle to the next field. This is a minor bug but if its a quick fix it would be nice to solve it.

This is the section I'm referring to:
https://dl.dropbox.com/u/3730003/fit%20params.png

[2013-02-17 23:40] #10 closed, assigned to nobody

[2013-02-17 23:40] #11 closed, assigned to nobody

[2013-02-17 23:54] lgordon opened #12 "Athena PCA: reconstruct data crashes"
When I do PCA of a number of datasets and then try to reconstruct a dataset in the PCA group Athena crashes. Doing a target transform on a dataset not part of PCA group does not crash.

The crash occurs for me both when doing x(k) and mu(e).

Win 7 x64, Demeter 0.9.14.

[2014-09-19 19:09] newville opened #14 "broken link on main web page"
The link to
    https://s3.amazonaws.com/demeter4xas/Demeter_Installer_for_Windows_0_9_20.exe

on the main Demeter page is broken.

[2014-09-19 21:13] #14 closed, assigned to nobody

[2014-10-24 18:58] gregrj opened #16 "Path environment variable on Windows"
I installed Demeter onto a computer running Windows XP 32-bit for the first time, but the programs (e.g. Athena) would not launch. The splash screen for the programs displayed briefly, but the actual GUI never launched. This also happened on another computer running Windows 8.1, and what seems to be consistent is that Python with SciPy was already installed.

I noticed that Demeter adds 3 lines in

[2015-01-22 02:29] andreahi11 opened #17 "Windows 7 Issue - Crashes When Performing Any Operation"
Bruce,

I want to first say thank you for providing all of us comp illiterate folks with a great tool.

I'm unfortunately having issues using Athena, from ALL versions. The problems with each version vary slightly, but they are consistent in that the program crashes when trying to compute anything from imported data. Ive tried everything I can think of. To give you a quick rundown, Ive checked the

[2015-01-23 21:54] bruceravel commented on #17
@andreahi11,

For me, this is the most telling line in your issue.  Clearly there is something different on your computer than on your friend's.

My first guess is that you have another version of perl installed on your computer and there is some conflict finding a library.  Have you installed ActivePerl?  Citrus Perl?  Git?  Or anything else that installs a complete perl interpreter?  If so, then

[2015-01-23 23:25] andreahi11 commented on #17
Bruce,

Thank you for the response.

I thought along the same lines at first. However, I have reinstalled Windows cleanly from an OEM disc so there exists no perl interpreter or compiler. Same with MinGW.

I think it may be that the installer did not install a portion properly or a path wasn;t updated.

I find it strange because Athena worked perfectly in December. While I was at Argonne Labs, the

[2015-01-26 16:17] bruceravel commented on #17
@andreahi11,

I find that strange also.  Sure seems like something in that update changed your machine in a way that I have not planned for.

You still are not giving enough information for me to have an informed opinion.  Demeter demonstrably works on all the Windows machines I have and on those of the vast majority of its users.  Something is happening on your computer that I have not planned fo

[2015-01-26 20:43] ggggggggg opened #18 "hephaestus "Formuals" fails on Mac OSX"
![hephaestus](https://cloud.githubusercontent.com/assets/5192577/5907962/943c5bec-a560-11e4-8389-b48c355c71ad.png)
Steps to reproduce:
1. Launch hepaestus from command Line
2. Click Formulas
3. Type anything into the top right entry field (example shows Fe)
4. Hit Enter
I get this error:
Can't call method "SetStatusText" on an undefined value at /opt/local/lib/perl5/site_perl/5.16.3/darwin-thread-

[2015-01-26 20:45] ggggggggg commented on #18
I can confirm that the first failure mode (with the crash) happens on the most recent Windows Version (at least on my pc) as well.  The second failure mode (locked up GUI) doesn't appear to happen on the windows version.

[2015-01-26 20:57] bruceravel commented on #18
@ggggggggg,

Does it also fail if you actually enter a value for density?

I don't see either failure on my linux machine here at home.  We have some severe weather going on here in New York state today and tomorrow.  I won't be able to test this on Windows until we are allowed to return to the lab.

And I won't be able to test it on the Mac at all (I don't own one).  So hopefully I'll be able to

[2015-01-27 16:12] ggggggggg commented on #18
On both mac and windows if I type in Density=1 before typing anything in the Formula line it works fine.

[2015-01-29 18:37] bruceravel commented on #18
@ggggggggg,

I am finally back after 2 1/2 days of the lab being closed due to a big winter storm.

On my Windows machine, I see that hitting return triggers the error you are seeing.  Clicking the "Compute" button does not.  I'll look into it.  Hopefully, that'll solve the problem on the Mac also.  Thanks for the bug report!

In the future, following [my requested bug reporting procedure](http://

[2015-01-29 18:46] bruceravel commented on #18
Fixed in 7091a8bf514d85bf83373a0e6b5fb278da57fbca

As you can see, this is a one-line fix that you could easily apply on your own machine.

[2015-01-29 18:46] #18 closed

[2015-01-29 18:56] bruceravel commented on #17
@andreahi11

Looking at the screenshot of the command window you attached to your initial post, I suspect that the problem might be that Athena was unable to read the data file for some reason.  I don't know if that means the file was corrupted in some way or if it was in disk space that couldn't be accessed.  That's kind of the problem with a *screenshot* of something displaying text -- I cannot

[2015-01-29 21:08] ggggggggg commented on #18
I'll try to remember to check out that link if I run into anything new.

On Thu, Jan 29, 2015 at 11:46 AM, Bruce Ravel <notifications@github.com>
wrote:

[2015-01-29 21:15] bruceravel commented on #18
The fix will, of course, be in the next release.

[2015-02-19 14:22] bruceravel opened #19 "language localization causes problems with Moose LaxNum types"
A localization like LANG=fr_FR calls for commas in pace of dots in floats.  For example,
[code]
will print `3,15159` under that localization.  That will trigger this error from Moose:
[code]
A solution is to set LANG=en_US in the shell or subshell.  It would be nice if Demeter could recognize this localization issue and alter its own environment accordingly.

Alternately, somehow redefine [LaxNum]

[2015-02-19 14:30] bruceravel opened #20 "persistance for analysis tasks in Athena"
Currently, LCF, peak fit, and PCA results are not saved in the project file.

Could be implemented as a new hashref associated with the data group, same way that XDI information is saved to the project file.

[2015-07-23 07:07] roentgenium opened #22 "A very small possible bug on Natural log checkbox in column selection dialog"
When I import a file obtained in transmission mode after importing some files without "natural log", the check box of natural log is not checked even though the math expression in mu(E) looks fine.

![naturallogissue](https://cloud.githubusercontent.com/assets/6039289/8844664/a144e8b2-3152-11e5-85b9-7bebb79a0a09.png)

Procedure
1. Import a data file obtained in fluorescence mode without checking t

[2015-07-23 13:19] #22 closed

[2015-07-23 13:24] bruceravel commented on #22
@roentgenium: thanks!  good eye!

I think I now have the logic correct for setting the ln checkbutton at a996717affa04a4f16e874a5ee4e9dbfeced038d.  If you want to test it immediately (i.e. before I build a new Windows installer), grab https://raw.githubusercontent.com/bruceravel/demeter/master/lib/Demeter/UI/Athena/IO.pm and overwrite

       C:\strawberry\perl\site\lib\Demeter\UI\Athena\IO.pm

th

[2015-07-30 00:45] roentgenium opened #23 "Small bug in configuration of plugins (Athena)"
I might find two small bugs in configuration of plugins of Athena.

# "Apply and Save" does not save changed parameters after restart. (eg. X15B plugin)

## Procedure

1. Change i0 from 6 (default) to 5, click "Apply and Save" and click "Cancel".
2. Exit and restart Athena.
3. The i0 in configuration of X15B plugin is 6.

# "Reset all parameters to Demeter's defaults" aborts Athena. (eg. X15B plug

[2015-07-30 14:32] bruceravel commented on #23
Both issues are addressed in 8085a23b8496a6fbd69eedec16b61b6957575d13.  If you could pull, rebuild, and give it a test, I'd be grateful.

The first one was quite interesting and was a fairly deep bug in the design of the configuration system.  I am grateful that you found it.

The second one was easily fixed, but I decided to simply remove the "reset all" button.  The function attached to it is no

[2015-07-30 14:32] #23 closed

[2015-08-02 07:07] roentgenium commented on #22
Thanks! It works well!

[2015-08-05 11:26] roentgenium commented on #23
I successfully rebuild the present HEAD branch (947effa) on Debian GNU/Linux 8 jessie on a virtual machine, and confirmed the issues are fixed.

Thanks again!

[2015-08-05 21:10] newville opened #24 "Paths in Windows batch scripts should be improved"
I think that  #9, #16, and recent discussions on the ifeffit mailing list:

http://millenia.cars.aps.anl.gov/pipermail/ifeffit/2015-August/012663.html
http://millenia.cars.aps.anl.gov/pipermail/ifeffit/2015-July/012588.html

are all related.

 I suggest that the batch files begin like this

[code]

That is:

1. explicitly set PATH.
2. use %~dp0 to expand "the drive letter and path of the current f

[2015-11-22 09:20] roentgenium opened #25 "Some strange figures when plotting in quad mode and k space"
I am suffering of a tiny and strange figures when plotting XAS data in quad mode or k space.

My environment is
OS: Windows 7 64 bit
Athena: 0.9.24 (both of 32 bit and 64 bit)

For example, when I import a Ni foil XAS data file, the gnuplot automatically plots a graph like below.

![gnuplot_quad](https://cloud.githubusercontent.com/assets/6039289/11322896/9ff19ad6-9143-11e5-81a7-286c2f97b35e.png)

[2015-11-22 14:24] bruceravel commented on #25
My best guess: it's a font thing.  I am trying to use [this symbol](http://www.fileformat.info/info/unicode/char/b7/index.htm) in the math expression for the y-axis label using gnuplot's so-called enhanced syntax.  This bit of text is generated [here](https://github.com/bruceravel/demeter/blob/master/lib/Demeter/Plot/Gnuplot.pm#L179) -- or possibly at line 173.  Reading the gnuplot manual, it seem

[2015-11-24 00:41] roentgenium commented on #25
Yes. I am on Windows 7 Japanese edition.
I edited start.tmpl as indicated and it works!

[2015-11-24 15:17] bruceravel commented on #25
Great!  I don't recall why I chose
[code]
for that file.  Seems best to set it to `iso_8859_1`.

[2015-11-24 15:29] bruceravel commented on #25
even better is simply not to use the middle dot in the y-axis label of plots in k.

[2015-11-24 15:29] #25 closed

[2016-01-28 20:29] dkriegner opened #26 "installation issue due to "t -> ." symlink in "t"-folder"
During following the "installation from source" instructions [1] I experienced an error at step 3.

Step 3 says: run
`perl ./Build.PL
`
I got:
`<PATH>/demeter/t/t is a recursive symbolic link at /usr/lib64/perl5/5.20.2/File/Find.pm line 431.
`

Removing the symlink I could continue/finish the installation without problems. Is this symlink needed?

[1] http://bruceravel.github.io/demeter/pods/insta

[2016-01-28 20:44] bruceravel commented on #26
@dkriegner, the warning message is correct.  It is, indeed, a recursive symlink, which I use as a convenience when working with the test suite.

I am surprised by your result, though.  I've never seen that one before.  In fact, I just made a fresh clone on the Ubuntu machine I am sitting at, ran `perl ./Build.PL`, and did not see it.

What kind of computer are you using?

In any case, as far as i

[2016-01-28 21:06] dkriegner commented on #26
I am on:

[code]

let me know if you need more info.

Otherwise the instructions are fine from my perspective. Except of few smaller problems with dependencies of dependencies (e.g. [1]) the only thing I realized was a broken link in this paragraph:

the anchor *http://bruceravel.github.io/demeter/pods/installation.pod.html#quot_Installing_Demeter_without_root* is missing.

[1] https://rt.cpan.org

[2016-01-28 21:10] dkriegner commented on #26
@bruceravel Actually I should highlight that this was not a warning, but the only output I got! Only after removing the symlink I could get any output from the build script! If the symlink is only needed on your testing machine I think you should consider removing it from the repo.

[2016-01-28 21:16] bruceravel commented on #26
Yes, "error" not "warning".  Gotcha.

Valid point about the symlink.  Simply removing the symlink is almost certainly the right thing to do.  Still, it would be nice to understand the cause.

What does your machine say for

[code]

And thanks for pointing out the broken link.

[2016-01-28 21:30] bruceravel commented on #26
Happily, that particular problem will be going away entirely soon.  That dependence was needed for the documentation system.  I am in the middle of a complete rewrite of the document -- using sphinx instead of something home-brewed.

[2016-01-28 21:47] dkriegner commented on #26
[code]

[2016-01-28 21:53] bruceravel commented on #26
Weird.  Same as mine.  I'm confused....

[2016-01-28 23:18] dkriegner commented on #26
I think the problem originates in this module
[code]

see:
[code]

the problematic call to find is
[code]
where *follow_fast* is set, which changed somewhere between 1.63 and 1.70

[2016-01-29 13:59] bruceravel commented on #26
Apparently sometime between 1.65 and 1.70.  I have 1.65 on my machine.  Now it's understood and clearly an upstream issue that I have to live with.

Anyway, I removed the symlink and fixed a couple of other small bugs. See 63f2e1c

Thank you _very much_ for looking into this.  It is pretty uncommon that someone does the footwork to track down a problem for me.  I am pleasantly surprised and quite

[2016-03-30 14:51] tschoonj opened #28 "Column label problem in Import Data"
Hi Bruce,

Some B18 staff members here at Diamond have discovered that not all columns of their 36-element detector XAS files are not properly represented in the Column selection dialog window. Although all radiobuttons appear to be present, only about half of the corresponding labels are shown, which I assume is due to space constraints.

I am attaching a screenshot that will make this situation

[2016-03-30 15:12] bruceravel commented on #28
Re the column labels, I thought, in that situation, Athena would replace the labels with column numbers.  I'll look into it.

Re the data every 5 seconds thing, don't use Athena.  I don't mean that in a snippish or obnoxious way.  I mean that I never wrote Athena with the intent of receiving data at that pace.  She's simply not efficient enough for that.  To put it another way, we didn't have 5 se

[2016-03-30 15:14] bruceravel commented on #28
Could you email me one of the files that is taking 10 seconds for the column selection dialog to make an appearance?  Or post it on gist.  Thanks.

[2016-03-30 15:52] tschoonj commented on #28
I just emailed you a typical file that takes quite long to load.

We are indeed using the Larch backend: the main reason behind this is Ifeffit being unable to read this multi detector element files properly. It appears to read only the first x rows and ignores the rest of the file, which probably has to do with its memory limitations.

Otherwise the Larch backend appears to work quite well, even

[2016-03-30 16:02] tschoonj commented on #28
Oh and I am indeed the NFS guy (although it was actually an access control lists problem) :smile:

In this case, although the file is indeed stored on an NFS partition, I doubt that it has a lot of influence here as it is only 1.7 MB.

[2016-03-30 16:57] bruceravel commented on #28
Edit the properties of the Athena desktop icon.  Change the target from "dathena" to "lathena".  There are "l" versions of the Athena, Artemis, and Hephaestus batfiles in `perl/site/bin/` of the installation location.  As with the "d", the "l" is silent when pronounced :smile:

It's up to you to install Larch on the machine.

It's been a while since I tested these, but I think they work....

[2016-03-30 17:12] bruceravel commented on #28
That's not it at all.  The json is simply a different format for the Athena project file.  It has the same information contents as the conventional project file (which is a serialization of Demeter data structures), but is easier for other applications to write.

The reason I suggest this route is that it bypasses the whole process of repetitively importing data files.  No one uses Athena because

[2016-03-30 17:19] bruceravel commented on #28
I agree that NFS has nothing to do with it.  My current suspicion (although I have thus far spent much more time eating lunch than looking into it) is that the slowness is in trying to remove the background from wonky data.  I suspect that Athena is assuming that these data are transmission because "I0" and "It" as meaningful column labels.  But there is no step in "It", so autobk grinds away for

[2016-03-30 17:46] newville commented on #28
@tschoonj @bruceravel    I would definitely suggest that the beamline have a tool that reduced the data to something more sensible than a file with more than 20 columns.  We (at my beamline) have produced such large number of data channels for years, and have been advocating this position for a very long time.  We recently saw a similar question on the ifeffit mailing list about data from SSRL.  F

[2016-03-30 18:29] tschoonj commented on #28
Hi Bruce and Matt,

Many thanks for the very useful suggestions. I will discuss with the beamline staff how we can improve their dataprocessing strategies based on your recommendations.

@bruceravel Many, many, many thanks for writing the Demeter plugin! I will give it a try tomorrow morning.

[2016-03-31 16:23] tschoonj opened #29 "Larch backend serving multiple users"
Hello again,

Today we ran into our first real problem with the Larch backend.

1. User A starts `lathena`, which in turn starts the `larch_server`
2. User A closes `lathena` and logs out. The `larch_server` keeps running as daemon
3. User B logs in, starts `lathena`. He opens a file somewhere in his home directory but gets an error message saying that the file could not be opened. No new `larch_s

[2016-03-31 17:25] bruceravel commented on #29
Off the top of my head, I do not have a better solution.  If you would be willing to hack up something that works for you, I would be very grateful.

A word about how Demeter starts working with larch.  It's all [here](https://github.com/bruceravel/demeter/blob/master/lib/Larch.pm#L15-L28), with [this file](https://github.com/bruceravel/demeter/blob/master/lib/Demeter/share/ini/larch_server.ini) p

[2016-03-31 17:31] bruceravel commented on #29
Tom,
[This gist](https://gist.github.com/bruceravel/2dae348eea84e2d634dca1fb1e6876ee) has the first several lines of Larch.pm with a slight modification to look first for `$HOME/.horae/larch_server.yaml`.  With that modification to Larch.pm and a pretty simple shell script, I think you would solve your problem.

1. Alias "athena" to the shell script
2. Figure out an unused port number using any co

[2016-03-31 17:33] newville commented on #29
In principle, a process should be able to launch a larch server on a unique port, then connect to that.   You'd want to tell the server to shutdown on exit or have some system-wide way to kill zombie servers.

I'd imagine lathena could go through a range of port numbers, trying to connect to each until it finds a free one available and then start the server with that.

The server could also have (

[2016-03-31 17:38] bruceravel commented on #29
This works on my ubuntu box: http://unix.stackexchange.com/a/55940

Alternately, as Matt suggests, the lathena script itself could do something like the second part of that Stack Exchange post.

Tom, think about what solution suites you best.  At this point, my preference is to whatever makes you happiest.

[2016-04-01 07:49] tschoonj commented on #29
Thanks for the useful advice Bruce. I will probably stick with a pure Perl solution: it's been over a decade that I did serious Perl programming but I should be able to pull this off.

I agree with Matt that the larch server should shutdown when Athena exits, at least if no other lathena sessions are running for that user.

[2016-04-01 11:43] tschoonj commented on #29
By the way: does the larch backend work on Windows?

[2016-04-01 12:18] bruceravel commented on #29
To the best of my knowledge, it does work on Windows.  It has, however, been quite some time since I last gave it a try.

I'm away from the office today, but I'll be available to help out with your solution to this problem on Monday.

[2016-04-01 13:54] newville commented on #29
@tschoonj @bruceravel   The larch server *should* work on Windows, but I can believe it is slightly fragile in that the location of Python needs to be known ahead of time.  For other reasons, I'm currently recommending Anaconda Python for Windows and Mac, and I don't think I have tested dathena with this.    I don't see why it shouldn't work, but Windows is (are?) good at showing cracks.  If there

[2016-08-28 15:09] ptbrowne opened #36 "Building on Ubuntu 15.04"
I encountered some problems while building on Ubuntu using [the official tutorial](https://bruceravel.github.io/demeter/documents/SinglePage/demeter_nonroot.html). I managed to get it working so I post my solutions here.

# Wx failed to compile from source

At the `./Build installdeps` step, `wx` would not install even the second time :

[code]

This problem is also reported [here](https://aur.arc

[2016-08-28 15:10] ptbrowne commented on #36
I reopen in case you want to update the tutorial.

[2016-08-29 13:48] bruceravel commented on #36
@ptbrowne: Thanks for all this and for keeping the issue open.  I will work on incorporating all your suggestions into the documentation.  I am really grateful for the feedback.

The Qt terminal for gnuplot is pretty good also.  Like you, I prefer the wxt terminal, but Qt is all right too.  Granted, I run kde, so I'm OK with having the Qt infrastructure on my computer....

[2016-08-29 15:37] ptbrowne commented on #36
Thanks to you for Demter ! I did not know Qt terminal as I run stock Ubuntu with Gnome but I will check it out !

[2016-08-30 18:29] bruceravel commented on #36
Patrick, could you take a look at http://bruceravel.github.io/demeter/documents/SinglePage/demeter_nonroot.html and let me know if I have adequately addressed all your concerns.

Thanks,B

[2016-09-08 10:55] ptbrowne commented on #36
Looks good ! Thanks !

[2016-09-08 10:55] #36 closed

[2016-10-03 12:29] newville opened #39 "Flatten seems incorrect with Larch backend"
It looks like the flatten calculation is messed up with the Larch backend, as the spectra have an unusually large discontinuity at E0.     I have not investigated the template.

A few of the other Larch templates might need some attention too, especially as many of the pre_edge and autobk "details" got moved into sub-groups a while ago.

[2016-10-03 18:18] #16 closed

[2016-10-03 18:21] bruceravel commented on #39
You hit the nail on the head.  d6e7d89925da325010b64ad991523199ce20463f fixes the immediate problem with plotting normalized data.  There are probably things from the autobk_details subgroup that I am failing to grab, but nothing is obvious.  I wanted to resolve this issue immediately, so....

[2016-10-03 18:21] #39 closed

[2016-11-25 19:55] newville opened #42 "Scaling for data keV applied multiple times (larch backend only?)"
When using the Larch backed, reading data that has energy in keV, yields improperly scaled results, so that energies are in the 10^9 range, not the 10^3 range.

The command buffer for such a session looks like this:

[code]

Notice that `ewmar.energy = 1000*ewmar.energy` happens multiple times.   This appears to be derived from the template `{$D->group}.energy = {$D->energy_string}`, but has the e

[2016-11-26 17:39] newville commented on #42
@bruceravel updated suggestion:  `group = read_ascii(filename)` creates separate arrays for each column, but also keeps a 2D array of all data in `group.data`.   So, you could use

[code]
which would use the first column regardless of what it is named.  Since you already need to figure out which column holds the energy array, that might be easier

[2016-11-28 23:54] newville opened #43 "Ctrl-M and Main Doc pointer in Athena leads to bad URL"
Doing Ctrl-M in Athena points to

   http://bruceravel.github.io/demeter/documents/Athena/index.htmlindex.html

I think the `lib/Demeter/configuration/athena.demeter_conf` and/or the `document` subroutine of
`lib/Demeter/UI/Athena.pm` needs a fix.

[2016-11-29 19:50] #43 closed

[2016-11-29 19:50] bruceravel commented on #43
Thanks for catching this.

[2016-11-30 15:49] newville opened #45 "Larch version causes error in "About Athena""
It looks like `Get.pm` is not getting the larch version correctly (or perhaps "reliably").   I think this should probably be done by adding the larch_version string to Larch's symbol table (not a bad idea anyway) and then fetching with "get_larch_scalar()".   That's a long-term fix, requiring a new version of larch....

[2016-11-30 17:56] bruceravel opened #46 "Finding Larch server"
@newville : In the recent PR, the `find_larch` function is pretty much guaranteed to fail on a linux machine.  The function presumes that "python" and "larch_server" are in the same location in the path, which I am guessing is the case with anaconda.

I want to add a check for those two executables prior to your loop through `@dirlist` using the [File::Which](https://metacpan.org/pod/File::Which)

[2016-11-30 18:58] bruceravel opened #47 "Larch.pm fails to import on Windows, Perl 5.18"
Trying does this, according to @newville in #44

[code]

[2016-11-30 18:59] bruceravel commented on #45
@newville : I sidestepped this by simply not reporting on the version number.

That said, :+1: for putting the version number in the symbol table.

[2016-11-30 19:00] #45 closed

[2016-12-01 02:01] newville commented on #46
@bruceravel

And on Mac OSX and on Fedora/CentOS too.  System python on Fedora/CentOS is /usr/bin/python and installing with that does install to /usr/bin/larch_server.  It is different on Debian/Ubuntu?

I think that is "normal python behavior" (even for Apple or Macports Python which uses the wacky version Frameworks thing, the executables get installed next to python).  Windows is a special cas

[2016-12-01 03:53] newville commented on #47
@bruceravel   It may be that much of the code in "decode_data" is overkill for extracting simple scalars and arrays, as Demeter currently uses.  The idea was to be able to unpack dictionaries and Groups (as dictionaries), as Demeter might want to do that eventually.

But, if not or in the spirit of doing the least amount now,  it may be that using "simple_request" instead of "send_request" method

[2016-12-01 14:06] bruceravel commented on #46
@newville : On my ubuntu/debian machines, the python executable in in ``/usr/bin``, as expected [*] for something installed by the package manager.  ``larch_server`` is in ``/usr/local/bin``, as expected for something not installed by the package manager.  My problem isn't with using the hand-curated directory list -- it is with the requirement that the two be co-located in $PATH.  File::Which off

[2016-12-01 21:53] #42 closed

[2017-04-06 13:44] tschoonj opened #50 "RPM packages for RHEL/CentOS 7"
Hi Bruce,

I created RPM packages of Demeter, Ifeffit and about a dozen of Perl modules for RHEL/CentOS 7. The spec files can be found at https://github.com/tschoonj/demeter-linux-packages, where instructions can be found to install the RPMs with minimal effort.

As far as I can tell most of it works properly, with the notable exception of Hephaestus, which segfaults on startup after I close a War

[2017-04-06 13:51] bruceravel commented on #50
Holy shit!  Tom, you are my hero!  I'll update the web site when I get back to my desk.

If you show me what's going on with the Heph crash, maybe I can help diagnose it.

[2017-04-06 14:01] tschoonj commented on #50
Thanks for the kind words, but I am not confident that everything works properly at this point. The Hephaestus crash is most likely not the issue. I am attaching a screenshot of how things look after running `dhephaestus`. Interestingly, Hephaestus segfaults immediately after the screenshot is taken, even without me interacting with it!

![hephaestus-crash](https://cloud.githubusercontent.com/asse

[2017-04-06 14:03] newville commented on #50
Please do not use or encourage the use ifeffit for this.  While it is open
source and you are free to use it however you see fit, it has several
problems and has not been supported or maintained for many years.  A
complete replacement exists and is supported.

On Apr 6, 2017 8:51 AM, "Bruce Ravel" <notifications@github.com> wrote:

[2017-04-06 14:05] tschoonj commented on #50
By the way, it should be rather easy to create packages for Fedora too, especially because several of the Perl modules I had to create RPMs for, have already been packaged for that distribution.

[2017-04-06 14:12] tschoonj commented on #50
@newville No problem for me. I could look into packaging `larch` if that is the preferred backend.

FWIW it is currently not possible to build Demeter without having `ifeffit` installed as `Build` returns with the following error:

[code]

[2017-04-06 14:18] bruceravel commented on #50
@tschoonj : The error message suggests that you do not have https://metacpan.org/pod/Chemistry::Elements on your machine.  That wouldn't explain the crash, but would explain the warning dialog.

@newville Tom is right.  The build script does not properly allow someone to opt out of using Ifeffit from the get-go.  That's an oversight.  Even before this conversation started, I was planning on updati

[2017-04-06 14:46] tschoonj commented on #50
`Chemistry::Elements` is installed though: it's one of the perl modules I had to package myself.

[code]

That package does not contain much, is that correct? Just one module named `Chemistry/Elements.pm`...

There are no messages in the terminal.

[2017-04-06 15:06] newville commented on #50
@tschoonj ah, ok.  I hadn't realized that ifeffit was needed for the build.

 I haven't thought about rpms for Larch.  I use Centos and Fedora, but have tended to not require system python and the official packages for Larch and nornally use virtual environments or Anaconda python which are orthogonal to the yum/dnf system. I think we could make rpms  work with the official Centos or Fedora system

[2017-04-06 18:55] bruceravel commented on #50
@tschoonj @newville :
I think that 74ca3264cfc4dbfee1fe50d4713367f9c9217c13 fixes the issue that Ifeffit must be present in order to build Demeter.  I also think that Demeter will then run correctly if only Larch and not Ifeffit is present.  Not fully tested, but I am confident-ish.

[2017-04-06 19:08] bruceravel commented on #50
@tschoonj Regarding the warning message when you fire up Heph ... could you click the details button, then save what it says.  I am a bit flummoxed, but I am now wondering if it has something to do with the [very heavy elements](https://github.com/bruceravel/demeter/blob/master/lib/Chemistry/MoreElements.pm).  It might help to know how many times that warning message was triggered.  Thanks.

[2017-04-06 22:09] newville commented on #50
@bruceravel

Awesome!

[2017-04-07 03:08] newville commented on #50
@tschoonj OK, after a little more investigation, I am less optimistic about being able to support Larch with the standard system Python stack included with Centos 7, as the packages are fairly old:

 * numpy is at 1.7  (current 1.11).  This would be OK, but might cause one or two patches.

 * scipy is at 1.12  (current  1.18).  This will definitely cause problems.  The optimization code in scipy h

[2017-04-10 10:07] tschoonj commented on #50
@bruceravel Clicking the Details button triggers the segfault unfortunately 😢
It feels to me that this is coming from wxPerl/wxWidgets, but not sure what. I will investigate when I have the time. Also, thanks for removing the Ifeffit build time dependency!

@newville I agree completely with your assessment. On older systems like Centos 7, Anaconda is definitely the best solution. The latest Fedora

[2017-04-10 12:11] newville commented on #50
@tschoonj  I have no strong opinion on rpms for Fedora.  I use Fedora and Centos and it is definitely a challenge keeping up with Fedora releases.  But, I believe that Larch works fine (for XAFS + XRF) using only standard packages for Fedora 24 and later.

I guess it depends on your goals. If DLS is trying to deploy on many similar Linuxes, rpms would be a fine way to go.  For Python tools like La

[2017-04-10 15:45] tschoonj commented on #50
@bruceravel It looks like you were right: it definitely has to do with the heavy elements. I removed all data in `@elements` beyond Pu and Hephaestus works fine!

[2017-04-11 13:24] bruceravel commented on #50
@newville : So ... the problem that occurred to me this morning about removing the dependence on Ifeffit for building Demeter is that, without installing Ifeffit, there is not currently an obvious path for having Feff in place.  That is, Demeter tacitly expects that Feff6 will get installed when Ifeffit gets installed.  Obviously the Feff8L thing will eventually fix that. But for now, installing L

[2017-04-11 13:36] tschoonj commented on #50
That's already the case: the ifeffit RPM contains all executables, so including feff6, that are produced by ifeffit.

[2017-04-11 14:44] newville commented on #50
@bruceravel Ah, it is complete reasonable for Larch to include a feff6l binary.  It doesn't currently do that, but it could.  I'll work on that for next release.

Perhaps it suggests for @tschoonj that an rpm for Demeter should include an executable of feff6l.

[2017-04-19 17:03] bruceravel commented on #50
@tschoonj : I updated my Ubuntu machine this week to 17.04 and am now seeing the "missing argument in sprintf" error message.  I am assuming it has something to do with perl 5.24, which is relatively new.  Anyway, now that I see the problem, I imagine it'll get fixed when I find a few minutes.  Thanks, as always, for the report -- I was just a bit slow this time :smile:

[2017-04-19 21:47] bruceravel commented on #50
@tschoonj : Turns out that an upstream module is broken.  I am having trouble finding a graceful solution.  Will work on it some more tomorrow.

[2017-08-10 20:22] Ede123 opened #51 "Setting FONTCONFIG_FILE golbally causes issues in other programs using fontconfig"
This is not an actual bug in Demeter but I think it would be good to let you know anyway:
Demeter does not play well with others! 😉

I just noticed you set the environment variable `FONTCONFIG_FILE` on Windows (I think [here](https://github.com/bruceravel/demeter/blob/4c7c2f9b0b242fe2ff819d42c021cd3ac44a5e48/win/inno/strawberry.iss#L72) and [here](https://github.com/bruceravel/demeter/blob/3a20c67

[2017-08-10 20:34] bruceravel commented on #51
Wow!  My little project is having an impact on a real software project.  How 'bout that!

I'm not sure what to say about this other than "hmm ... that's kind of embarassing" and "frickin' Windows".

I see that I do have my installer (done using Inno Setup) hardwired to change that environment variable.  I think there is an easy fix -- I can set that variable in the bat files that get called by the

[2017-08-10 20:43] bruceravel commented on #51
FYI, announcement on mailing list : http://millenia.cars.aps.anl.gov/pipermail/ifeffit/2017-August/009212.html

[2017-08-10 20:52] Ede123 commented on #51
Hey, thanks for your quick response and don't worry, stuff like this happens... (I know it first hand how exhausting it can be to get your program working on Windows).

Inkscape does not exactly handle this graciously either (crashing because it can not find a config file?!?), so this has also found a place on my todo list and I guess the small amount of users using both programs can now properly

[2017-08-15 15:15] newville opened #52 "feff8l exe distributed with demeter"
great interest from Q2XAFS 2017 for Feff8l development, but a good request that executables for feff8l should be included with Demeter

It might be reasonable to simply copy and include the executables for Win32, Win64, and Darwin from https://github.com/xraypy/xraylarch/tree/master/exes

Actually, for the Mac OSX distribution, it will probably be necessary to alter the executables to point to the

[2017-08-15 16:49] bruceravel commented on #52
Good to hear.  Defaulting to feff8l in Demeter will require a bit of work, but it is quite reasonable to do that for the next release.

[2017-12-01 03:32] newville opened #53 "bad XDI data file saved from Peak Fit"
a user asked about trouble reading an XDI ".peak" file save from Athena's Peak Fitting tool (Athena 09.26, Windows).  The problem ends up being with formatting numbers less than 1e-100, which get rendered as

      0.83011530E-91
      0.21067489E-95
      0.41070170-100

(I can send a complete file if that would help).

I looked and could find where the headers get formatted, but couldn't quite f

[2017-12-07 21:18] bruceravel commented on #53
The columns get written with `write_ascii` when using Larch and `write_data` when using ifeffit.

The way this works is, I suppose, confusing, but [this line](https://github.com/bruceravel/demeter/blob/master/lib/Demeter/PeakFit.pm#L581) calls one of the file output templates.  Here's the [Larch save template](https://github.com/bruceravel/demeter/blob/master/lib/Demeter/templates/analysis/larch/p

[2017-12-07 21:58] newville commented on #53
@bruceravel  OK...  The user reporting this was on Windows and must have been using Ifeffit.

I cannot get Larch's write_ascii() to make that mistake: it will write 0.000

But I did just reproduce it with Ifeffit.    Can we bury it yet?

[2017-12-07 22:27] bruceravel commented on #53
:smiley:   Does seem like an ifeffit-y problem.

I am pretty sure that Athena will start up with Larch if available.  I haven't installed Larch on a Win machine yet, so I don't knwo from personal experience.

I'm going to close this....

[2017-12-07 22:27] #53 closed

[2018-08-16 01:55] DetectiveKiwi opened #55 "Demeter Cluster size issue"
After running a FEFF calculation with Demeter, "Cluster size" seems to be printing the maximum path length instead of the cluster size.

This occurs when running the commands:
my $atoms = Demeter::Atoms->new(cif => "C:\\[...]\\Cu_mp-30_symmetrized.cif");
 $atoms->set(rpath=>6, rmax=>9);

 my $feff = Demeter::Feff -> new(atoms => $atoms);
 $feff->set(workspace=>"feff/",screen=>0);
 $feff->run;
 pri

[2018-08-16 14:17] bruceravel commented on #55
I think the problem here is one of expectation.  I think things are working as I intended.

"rmax" is the size of the cluster of atoms written to the feff.inp file.

"rpath" is the number used for the RMAX keyword in that feff.inp file.

The ``$feff->intrp`` method happens _after_  the feff.inp file is written and after Feff is run.  Thus the interpretation written by ``intrp`` method observes the

[2018-08-16 18:25] DetectiveKiwi commented on #55
Gotcha. I was a bit confused by the nomenclature, but I understand it now.

Thanks for the quick response,
John F

[2018-08-16 18:25] #55 closed

[2018-10-16 01:10] wholden opened #56 "Saving XYZ file of cluster from Artemis missing a comment line"
When Artemis is used to export an atomic cluster to XYZ file format, the file is unable to be read in another program (in my case Avogadro).  The reason is that it is missing a blank line.  The second line in the file should be a comment line (per https://en.wikipedia.org/wiki/XYZ_file_format), but this is missing in the saved file from Artemis.  I've been manually adding it.

I'm using Demeter 0.

[2018-10-16 13:29] bruceravel commented on #56
While I won't argue if you say that Avogadro is unhappy with Demeter's output XYZ file, I don't agree that Demeter is writing it incorrectly.  From the XYZ spec:

      The first line of a step's header is the number of atoms in that step.
      This  integer  may be preceded by whitespace; anything on the line after
      the integer is ignored.  The second line of the header leaves room	for  a

[2018-10-16 18:20] wholden commented on #56
Thanks for the quick reply Bruce!

In the XYZ file created with my Artemis (0.9.25), the issue is that the atoms start immediately on line 2.  I think Avogadro is not expecting a blank line necessarily, but if I understand the XYZ spec the second line should not contain atom information.

Attached is an xyz file I generated from a cif for Fe2P.
[test.xyz.txt](https://github.com/bruceravel/demeter/

[2018-10-16 18:23] wholden commented on #56
I checked my xyz.tmpl file and it doesn't have the `{$A->titles->[0]}` line.

I see that it is indeed in the GitHub repository with a perhaps fix from a year ago.  I'll pull the latest version.  Thanks again, sorry for the false alarm.

[2018-10-16 19:35] bruceravel commented on #56
Or simply put a blank line in the second line of the xyz.tmpl file.

[2018-10-16 19:35] #56 closed

[2018-10-23 12:19] tschoonj opened #58 "lcf_fit bug"
Hi @bruceravel @newville

Some of our B18 staff have run into a bug when trying to perform linear combination fitting in Athena (Demeter 0.9.26) with Larch 0.9.40 backend.

Basically the fit fails with an error dialog with contents:

[code]

At the same time the terminal shows the error message:

[code]

I did some digging in the code to try and understand where this is coming from and it would ap

[2018-10-23 12:44] bruceravel commented on #58
It's 100% an @bruceravel problem.  I am pretty swamped at the beamline this week, but I'll try to get to it ASAP.

[2018-10-23 16:00] newville commented on #58
@tschoonj  I would be interested to know if you or any of the B18 staff have tried the Linear Combo capabilities in Larch's XAS Viewer  (included in 0.9.40) and whether you all might have any comments on it.

[2018-10-23 16:17] tschoonj commented on #58
I'll ask around.

[2019-01-22 11:09] tschoonj commented on #58
Hi Bruce,

Have you had some time to look into this issue?

Thanks,

Tom

[2019-11-05 20:04] joefowler opened #60 "Must patch DemeterBuilder.pm to run on a Mac"
Hi Bruce. I'm your friendly MacPorts maintainer. As you can see at their [issue tracker 55973](https://trac.macports.org/ticket/55973), I have had to apply a source patch to your release v0.9.26 in order for it to build on a Mac.

In essence, I deleted the do-nothing Mac OSX case from `sub ACTION_compile_ifeffit_wrapper`. While I was at it, I also deleted `sub ACTION_test_for_larchserver`, because

[2019-11-05 20:06] joefowler commented on #60
Here's the patch for DemeterBuilder.pm:

[patch-build-darwin-fix.diff](https://github.com/bruceravel/demeter/files/3810992/patch-build-darwin-fix.diff.txt)

[2020-03-13 13:33] killiantallman opened #61 "'The R effective for this path is much larger than the rmax value chosen for the fit to the data.'"
In the fitting log of Artemis I am receiving the following error message after clicking fit for all paths no matter what rmax value I use:

`The R effective for this path is much larger than the rmax value chosen for the fit to the data.`

I am thinking this might be a bug (from an recent update perhaps) because I have tried fitting with project files that worked fine just a month ago. This is hap

[2020-03-13 13:59] bruceravel commented on #61
There haven't been any changes of late.

Does this problem show itself with the larch backend?  With the Ifeffit backend?

Without examining the project file, I cannot speculate on what is triggering this warning. The figure you attached illustrates the **result** of the problem without giving me any help to actually understand the **source** of the problem.

Does clicking on the third item in the

[2020-03-13 14:11] killiantallman commented on #61
@bruceravel

I am not sure but I think Ifeffit backend.

Disabling the sanity check relating to rmax did allow the fit to go to completion and correctly.

Thank you for the help. Not sure why this setting was changed but the advice solved my issue!

[2020-08-16 20:53] LebedevV opened #62 "Demeter on the Gentoo Linux"
Hi Bruce,

Thank you very much for your software!
As a relatively frequent user, after migration on the Gentoo Linux I wrote ebuilds for Ifeffit, Xraylarch, and Demeter, so now any Gentoo user can easily install it with all deps from the ::stuff overlay.

The configurations is:
- Ifeffit (git or 1.2.11d from Ubuntu repo) is installing with the system-provided pgplot
- Xraylarch (git or 0.9.47 from

[2020-08-19 12:29] bruceravel commented on #62
Hi Vasily, been a busy week so far, so sorry for the slow response.  This is amazing!  I have another busy day today, but I will look into your issues real soon.

[2020-09-22 07:47] LebedevV commented on #62
Hi Bruce,

I am writing to provide you with an update concerning the issues mentioned.
It seems, that the second one has been caused by the issue with pre-compiled feff6/feff8l binaries distributed with larch, or (less likely) with the receiving fit results from larch. Demeter with ifeffit as a backend is working well.
So, the question is - is it possible to compile, install, and run the ifeffit-b

[2020-09-23 13:11] newville commented on #62
@LebedevV Well, are the pre-compiled versions of feff6l or feff8l running properly on your linux system?  If not, what versions of gcc are being used?   If ifeffit installs for you without incident, you're probably using a pretty old system.

The feff6l and feff8l binaries for xraylarch are built with fairly old versions of gcc and glibc (circa gcc 6, I believe - we should probably document that m

[2020-09-23 21:24] LebedevV commented on #62
Dear Matt,

Thank you for the replay!
I am using gcc10.2 - not sure, that "old" is a good description for this version. Iffefit compiles well, here are details of build [instructions](https://github.com/LebedevV/stuff/blob/master/sci-physics/ifeffit/ifeffit-1.2.11d.ebuild) & [patches](https://github.com/LebedevV/stuff/tree/master/sci-physics/ifeffit/files) from the Ubuntu/Debian package.
For sure,

[2020-09-23 22:50] newville commented on #62
@LebedevV

I am using gcc10.2 - not sure, that "old" is a good description for this version. Iffefit compiles well, here are details of build instructions & patches from the Ubuntu/Debian package.

OK.  But I think your instructions and patches demonstrate my point very well: you need a pile of non-trivial patches even to get the code to compile.   Who is going to maintain that, or even be able to

[2020-09-27 14:04] LebedevV commented on #62
@newville

Absolutely agree, but, to be honest, - what else can I do to run Demeter?
Actually, I just figured out that on Ubuntu@VBox I was using it with ifeffit as a backend, too... I am puzzled now - is it actually possible to run fits in Artemis using Larch?
I am observing a number of similar [errors](https://pastebin.com/gxGjbkBD) on different systems, presumably caused by problems in artemis/

[2020-09-28 00:56] newville commented on #62
On Sun, Sep 27, 2020 at 9:05 AM VasilyLebedev <notifications@github.com>
wrote:

Yeah, me too!

Yes, or at least it should be.
If you're having problems with this, please explain the problem you are
having in enough detail to be able to understand what could be going on.
 So far, all I can understand is that it is not working for you.

I am observing a number of similar errors <https://pastebin.co

[2020-10-04 23:18] LebedevV commented on #62
@newville ,

Sorry for the delay with the answer, I've spent some time, reproducing the issue by different ways on different installation sequences.

So, let's have a look at the basic installation of Demeter on the Ubuntu 18.04 (there is no ifeffit package in 20.04, as I can see).
I used slightly modified [instructions](https://bruceravel.github.io/demeter/documents/SinglePage/demeter_nonroot.htm

[2020-10-08 14:24] newville commented on #62
@LebedevV it is very hard to comment on all of these different issues.    But, for sure there were problems in xraylarch 0.9.47 with the Linux binary libraries and with the way demeter expected `larch_server` to respond.     I **think** these are now fixed in 0.9.48  (not completely released yet as I have not built a Windows installer yet).  I haven't tested everything, partly because I cannot bui

[2020-10-26 17:29] LebedevV commented on #62
@newville ,
Many thanks, now Demeter is able to manage the connection to the Larch server.
Binaries feff6l and feff8l itself are working, too.
However, I have not found any way to force Artemis to work with feff6l or feff8l, I am still getting the same errors as before, like "Error reading file /home/guest/.horae/stash/_dem_rijjpfow/feff/rjnvv/pbgazasqh.sp"

Actually, I have built Demeter on Fedor

[2020-10-27 02:31] newville commented on #62
@LebedevV  Glad to hear it is working better for you. I have to admit that I think I still may not be understanding everything here:

Hm, you mean you cannot set which Feff version to run at all?  Is Artemis able to run any version of feff?

I don't know what the `sp` files are, but I think you might need to remove everything in this `stash` directory.

I have not tried building Demeter on Fedora

[2020-10-27 11:24] LebedevV commented on #62
@newville ,
Thank you for your reply!

Well, technically speaking, I can set it, but it will not run
As I can see, in all three OSs which I tested, Artemis is not working with feff6l or feff8l.

The only one which I succeeded with is feff6 from iffeffit in the absence of Larch

Error details (Ubuntu) for feff6l:

for feff8l:

I was doing `rm -rf ~/.horae`, then settings change, then test. Is it su

[2020-10-27 12:31] newville commented on #62
On Tue, Oct 27, 2020 at 6:24 AM VasilyLebedev <notifications@github.com>
wrote:

I do not see that.

Is Artemis able to run any version of feff?

I'm not sure I would call that "fails"?  Are you absolutely certain that
the inputs are ok?

That looks to me like the fitting code ran - it reports best-fit values and
uncertainties.  I don't know why the Path
Parameters are zero.   I don't know how you

[2021-06-17 07:22] michalsmid opened #63 "Installation on Ubuntu 18.04"
Hi, I'm now trying to install Demeter on Ubuntu 18.04 (I got now surprised how old it is, I'll probably update to 20.04 soon).

First minor comments:
I have updated the first step of the installation procedure to:
`sudo apt-get install build-essential git gfortran gnuplot ifeffit liblocal-lib-perl libx11-dev libncurses5-dev libpng16-16 libpng-dev libgif7 libwxgtk3.0-dev`

and then before perl Buil

[2021-06-17 14:35] bruceravel commented on #63
I also do not know the solution to this.  Hitting Ctrl-C to escape that subprocess allows the build to continue without, as far as I can tell, further problem.  You are certainly right that Apache is not needed in this case.

[2021-06-22 15:46] michalsmid commented on #63
Now I've tried to update to Ubuntu 20.04 and here already the package ifeffit is not available, and the older version is missing some dependencies. So seems like no easy way, and I'll have to use it on Windows :-(  But that works great and shows me how excellent program it is, thanks!

[2021-07-23 19:04] bdecost commented on #63
@michalsmid I recently ran into this issue on 18.04, IIRC installing `apache2` and `apache2-dev` resolved it. The root cause was some perl XML library. I think only `apache2-dev` is actually necessary, but I didn't test it out.

[2021-08-29 14:11] yu-soong opened #64 "The installation was failed on MacBook Pro (M1 chips) machine"
The installation was failed on MacBook Pro (M1 chips) machine when running `sudo port install xorg-server demeter` with the error info: "Failed to build ifeffit: command execution failed". I checked the log file and find the error was due to the lack of ifeffit package for arm chip MacBook machines, for insrance "`ifeffit-1.2.13_7+gcc11.darwin_20.arm64.tbz2` doesn't seem to exist". There is only "

[2021-09-01 18:03] bruceravel commented on #64
I'm not going to be solving this problem.  I do not own a Mac and so have no way to make the package you are asking for. It is certainly possible to successfully compile Ifeffit on a linux machine.  I imagine it would be possible on a Mac as well, but i am not well equipped to give guidacne on that.

You might consider moving to using Larch and it's XAS Viewer on your Mac.

[2021-09-01 18:03] #64 closed

[2021-09-02 00:37] yu-soong commented on #64
Ok, Thanks. I'll try Larch or Parallels in Mac.

[2021-11-25 12:26] jacawaca opened #66 "Installation on Ubuntu 20.04 with using Larch instead of Ifeffit"
Hi, I'm trying to build Demeter software on my Ubuntu 20.04 laptop. As it was said in #63 there are no binaries for Ifeffit in Ubuntu 20.04 repositories. Also trying to download ```.deb``` from [sourceforge](sourceforge.net/projects/ifeffit/) didn't succeed as well, because of lacks of some libraries
[code]

Then I try to build Ifeffit on my own by pulling sources from [their github page](github.c

[2022-07-06 14:34] Dorisson27 commented on #66
Hi, I would like to know as well, I think I am experiencing the same issue here. Have you managed to fix this in the meantime?

[2022-07-26 21:34] jacawaca commented on #66
Sorry for late answer. I didn't managed to do it. I needed the software for laboratory (which I finished about half a year ago) and I don't remember much about this problem. To make use of the software, I borrowed laptop with Windows and install Demeter on it.

My lab assistant told me he didn't experience problems with getting Demeter to work on Linux. He suggested using VM. I think he was using